<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu">
            <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="collapse navbar-collapse " id="nav-menu">
            <ul class="navbar-nav d-flex justify-content-around w-100">
                <!--dropdown indica que o item tera um submenu-->
                <li class="nav-item dropdown">
                    <!--nav-link aplica estilo // dropdown-toggle ativa a logica de abrir o submenu e adiciona seta // data-bs-toggle="dropdown"avisa o bootstrap que tera um submenu-->
                    <a href="" class="nav-link text-white dropdown-toggle"  data-bs-toggle="dropdown">CICLISMO</a>
                    <!--Define a lista de itens do submenu com aparência padrão do Bootstrap.-->
                    <ul class="dropdown-menu bg-dark">
                        <!--Aplica estilo correto a cada link do submenu.-->
                        <li><a href="" class="dropdown-item text-white" data-categoria="ciclismo">Todos</a></li>
                        <li><a href="" class="dropdown-item text-white" data-categoria="ciclismo" data-subcategoria="bike">Bikes</a></li>
                        <li><a href="" class="dropdown-item text-white" data-categoria="ciclismo" data-subcategoria="acessorio">Acessórios</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a href="" class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown">NATAÇÃO</a>
                    <ul class="dropdown-menu bg-dark">
                        <li><a href="" class="dropdown-item text-white" data-categoria="natacao">Todos</a></li>
                        <li><a href="" class="dropdown-item text-white" data-categoria="natacao" data-subcategoria="vestuario">Vestuário</a></li>
                        <li><a href="" class="dropdown-item text-white" data-categoria="natacao" data-subcategoria="acessorio">Acessórios</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="" class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown">MUSCULAÇÃO</a>
                    <ul class="dropdown-menu bg-dark text-white">
                        <li><a href="" class="dropdown-item text-white" data-categoria="musculacao">Todos</a></li>
                        <li><a href="" class="dropdown-item text-white" data-categoria="musculacao" data-subcategoria="vestuario">Vestuário</a></li>
                        <li><a href="" class="dropdown-item text-white" data-categoria="musculacao" data-subcategoria="acessorio">Acessórios</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="" class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown">BOXE E MUAY THAI</a>
                    <ul class="dropdown-menu bg-dark text-white">
                        <li><a href="" class="dropdown-item text-white" data-categoria="boxe-muaythai">Todos</a></li>
                        <li><a href="" class="dropdown-item text-white" data-categoria="boxe-muaythai" data-subcategoria="vestuario">Vestuário</a></li>
                        <li><a href="" class="dropdown-item text-white" data-categoria="boxe-muaythai" data-subcategoria="acessorio">Acessórios</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="" class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown">SURF</a>
                    <ul class="dropdown-menu bg-dark">
                        <li><a href="" class="dropdown-item text-white" data-categoria="surf">Todos</a></li>
                        <li><a href="" class="dropdown-item text-white" data-categoria="surf" data-subcategoria="vestuario">Vestuário</a></li>
                        <li><a href="" class="dropdown-item text-white" data-categoria="surf" data-subcategoria="prancha">Pranchas e Standup</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown"> 
                    <a href="" class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown">BEACH TENIS</a>
                    <ul class="dropdown-menu bg-dark">
                        <li><a href="" class="dropdown-item text-white" data-categoria="beach-tenis">Todos</a></li>
                        <li><a href="" class="dropdown-item text-white"data-categoria="beach-tenis" data-subcategoria="vestuario">Vestuário</a></li>
                        <li><a href="" class="dropdown-item text-white" data-categoria="beach-tenis" data-subcategoria="acessorio">Acessórios</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="" class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown">FUTEBOL</a>
                    <ul class="dropdown-menu bg-dark">
                        <li><a href="" class="dropdown-item text-white" data-categoria="futebol">Todos</a></li>
                        <li><a href="" class="dropdown-item text-white" data-categoria="futebol" data-subcategoria="vestuario">Vestuário</a></li>
                        <li><a href="" class="dropdown-item text-white" data-categoria="futebol" data-subcategoria="acessorio">Acessórios</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="" class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown">SUPLEMENTOS</a>
                    <ul class="dropdown-menu bg-dark">
                        <li><a href="" class="dropdown-item text-white" data-categoria="suplemento" data-subcategoria="suplemento">SUPLEMENTOS</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
  </nav>
</html>